<%= render 'newpost', book: @book %>

<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <td><%= @detail.title %></td>
        <td><%= @detail.body %></td>
        <% if @detail.user == current_user %>
        <td>
          <%= link_to 'Edit', edit_book_path(@detail) %>
        </td>
        <td>
          <%= link_to 'Destroy', book_path(@detail), method: :delete, "data-confirm" => "本当に消しますか？" %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>